:root {
    --slate:         #434455;
    --white:         #ffffff;
    --iris:          #4d5ae5;
    --navy-blue:     #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    color: var(--iris);
}

span{
    color: var(--navy-blue);

}


.color-change a:hover{
    color: #404bbf;
}

.color-change a:active{
    color: #404bbf;
}