:root {
    --slate: #434455;
    --white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    color: #e54d4d;
}

span{
    color: #2e2f42;

}
