:root {
    --slate:         #434455;
    --white:         #ffffff;
    --iris:          #4d5ae5;
    --navy-blue:     #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    color: var(--iris);
}

span{
    color: var(--navy-blue);

}

.navigation-bar a{
    color: var(--navy-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.color-change a:hover{
    color: #404bbf;
}

.color-change a:active{
    color: #404bbf;
}