body  {
    font-family: 'Roboto', sans-serif;
}

body li {
    list-style-type: none;
}

body a {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
}

.first-word-logo {
    color: #4D5AE5;
    font-size: 18px;
    line-height: 21px;
}

.second-word-of-the-logo{
    color: #2E2F42;
    font-size: 18px;
    line-height: 21px;
}