body  {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

body li {
    list-style-type: none;
}

body a {
    text-decoration: none;
}

.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    color:  #4d5ae5 ;
}

.first-word-logo{
    color: #2e2f42;
}


.menu-header-menu-container a{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.contact-information_header a{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.section-effective-solutions{
    background-color: #2E2F42;
}

.section-effective-solutions h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
}

.section-effective-solutions button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
}

.section-our-team{
    background-color: #F4F4FD;
}

footer{
    background-color: #2E2F42;    
}

footer p{
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}